label{
	margin-left: 5px;
}

#input{
	margin-top: 12px;
}

#submit{
	min-width: 120px;
}

#JoinButton{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	margin-left: 0;
}
